<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="js/adminpage.js">
    </script>
  </head>
  <body>
      <input type="text" id="search"><br>
      <input type="checkbox" id="listener" class="types"> Listener <br>
      <input type="checkbox" id="singer" class="types">  Singer<br>
      <input type="checkbox" id="mbSinger" class="types">  Maybe singer<br>
    <ul id="users">
    </ul>
    <button type="button" id="more">More users</button>
  </body>
  <link rel='stylesheet' href='css/adminpage.css' />
</html>
