<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="js/login.js">
    </script>
  </head>
  <body>
    <div class="block">
      <h6>Login</h6>
      <div class="blockInput">
        Email
        <input type="text" id="email" value="">
      </div>
      <div class="blockInput">
        Password
        <input type="password" id="password" value="">
      </div>
      <button type="button" id="goLogin">Go login</button>
    </div>
  </body>
  <link rel='stylesheet' href='css/logreg.css' />
</html>
