<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="js/registration.js">
    </script>
  </head>
  <body>
    <div class="block">
        <h6>Registration</h6>
      <div class="blockInput">
        First name
        <input type="text" id="first_name" value="">
      </div>
      <div class="blockInput">
        Last name
        <input type="text" id="last_name" value="">
      </div>
      <div class="blockInput">
        Email
        <input type="text" id="email" value="">
      </div>
      <div class="blockInput">
        Password
        <input type="password" id="password" value="">
      </div>
      <div class="blockInput">
        Repeat password
        <input type="password" id="repeatPassword" value="">
      </div>
      <button type="button" id="goRegistration" >Go registration</button>
    </div>
  </body>
  <link rel='stylesheet' href='css/logreg.css' />
</html>
